@import url("https://fonts.googleapis.com/css2?family=Poppins");

li{
	color: red;
}

body{
	width: auto;
	padding: 75px;
	font-family: Arial;
	background-color: white;
	align-items: center;
}

h1{
	font-size: 35px;
	text-align: center;
}

img{
	width: 100%;
}



button{
	font-family: "Poppins";
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin: 3px;
	}

button:hover{
	background-color: lightblue;
	cursor: pointer;
}

.isinih {
    width: 100%;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}


.inputdata, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

.inputdata: hover{
	background-color: green;
}

select {
    background-color: #fff;
    border: none;
    font-size: 12px;
    border: 1px solid #ccc;
}

label {
    font-size: 17px;
    font-weight: bold;
}
input[type=file] {
    background-color: #fff;
    border: none;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    ol li {
        font-size: 12px;
    }

    .form {
        padding: 15px;
    }

    .isinih {
        font-size: 15px;
    }

    label {
        font-size: 12px;
    }

    small {
        font-size: 9px;
    }

    .inputdata, select {
        padding: 5px 10px;
        font-size: 10px;
        margin: 5px 0 10px;
    }

    input[type=file] {
        font-size: 10px;
    }

    button {
       width: 100%;
    }

}
