@import url("https://fonts.googleapis.com/css2?family=Poppins");

li{
	color: red;
}

body{
	width: auto;
	padding: 75px;
	font-family: Arial;
	background-color: white;
}

h1{
	font-size: 35px;
}

.tb1, .tb2, .tb3{
	background-color: lightgreen;
	padding: 1px 0;
	border-radius: 5px;
	width: auto;
	height: 100%;
}

.lg1, .lg2{
	color: darkblue;
}

button{
	font-family: "Poppins";
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin: 3px;
	}

button:hover{
	background-color: lightblue;
	cursor: pointer;