@import url("https://fonts.googleapis.com/css2?family=Poppins");

h1{
		color: white;
		cursor: pointer;
		transition: 0.5s;
		opacity: 60%;
		font-size: 50px;
		padding: 5px;
		background: none;
		margin-bottom: 1px;
		background-color: none;
		text-align: center;

	}

	h1:hover{
		color: lightblue;
		background-color: none;
		letter-spacing: 3px;
		text-shadow: 1px 1px 4px gray;
		opacity: 100%;
	}
h2{
	text-align: center;
	font-size: 20px;
	color: lightgray;
	}
body{
	font-family: "Arial";
	background-image: url('../img/bg.jpg');
	background-position: center;
}
img{
	width: 3cm;
	border-radius: 50%;
	box-shadow: 1px 1px 4px gray;
	padding: 5px;
	background: white;
	margin: 15px;
	transition: 0.5s;
	opacity: 75%;	 
	}

	img:hover{
		transform: scale(1.2);
		opacity: 100%;
		box-shadow: 1px 1px 6px black;
	}
button{
	font-family: "Poppins";
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin: 3px;
	}
div{
	text-align: center;
	}
button:hover{
	background-color: lightblue;
	cursor: pointer;
}	

table, th, td	{
	border: 2px solid black;
	border-collapse: collapse;
	color: #2F4F4F;
}

.head-tbcls{
	font-size: 30px;
}
table{
	width: 35%;
	align-items: center;
}

th{
	background-color: #00FA9A;
}

td{
	background-color: #1E90FF;
}

td:hover{
	background-color: gray;

}

.del-btn{
	background-color: green;
	color: white;
	border: none;
	border-radius: 3px;
}
.del-btn:hover{
	background-color: darkred;
}
