@import url("https://fonts.googleapis.com/css2?family=Poppins");

li{
	color: red;
}

body{
	width: auto;
	padding: 75px;
	font-family: Arial;
	background-color: white;
}

h1{
	font-size: 35px;
}

.tb1, .tb2, .tb3{
	background-color: lightgreen;
	padding: 1px 0;
	border-radius: 5px;
	width: auto;
	height: 100%;
}

.lg1, .lg2{
	color: darkblue;
}

button{
	font-family: "Poppins";
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin: 3px;
	}

button:hover{
	background-color: lightblue;
	cursor: pointer;
}
@media only screen and (max-width: 768px) {

    body {
        box-sizing: border-box;
        background-color: gray;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    ol li {
        font-size: 12px;
    }

    .formulir {
        padding: 15px;
    }

    .judulform {
        font-size: 15px;
    }

    label {
        font-size: 12px;
    }

    small {
        font-size: 9px;
    }

    .masukkan, select {
        padding: 5px 10px;
        font-size: 10px;
        margin: 5px 0 10px;
    }

    input[type=file] {
        font-size: 10px;
    }

    button {
        padding: 8px 10px;
        margin: 3px 0;
        cursor: pointer;
        font-size: 10px;
    }

}