@import url("https://fonts.googleapis.com/css2?family=Poppins");

h1{
	text-align: center;
}

p{
	text-align: center;
}
body{
	font-family: "Poppins";
	align-items: center;
	justify-content: center;
}
table, th, td{
	border: 2px solid black;
	border-collapse: collapse;

}
.btn{
	display: flex;
	text-align: center;

}
button{
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin: 3px;
	font-family: "Poppins";
}
button:hover{
	background-color: lightblue;
	cursor: pointer;
}