@import url("https://fonts.googleapis.com/css2?family=Poppins");
body{
	background-color: lightgray;
	font-family: Poppins;
}
.pala{
	background-color: lightcoral;
	padding: 10px;
	border-radius: 3px;
}
.menu{
	padding: 11px;
	color: black;
}

.menu:hover{
	cursor: pointer;
	background-color: white;
}

.aktif{
	background-color: white;
}

.isi{
	display: none;
	background-color: white;
	padding: 10px;
	border-radius: 3px;
}
.home{
	background-color: white;
	padding: 10px;
	border-radius: 3px;
	display: none;
}

button{
	font-family: "Poppins";
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	margin-top: 60px;
	}

button:hover{
	background-color: lightblue;
	cursor: pointer;
}